@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&family=Poppins:wght@200&display=swap');
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
  .navBar { display: flex;
    position:fixed;
    top: 0;
    z-index: 1;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    overflow: auto;
    width: 100%;
    padding: 0;
    align-items: center;
    padding: 25px 0;
}

li a {color:black;
  text-decoration: none;
}

  li a:hover { color: orange}
  
 .nav-items {list-style: none;
  margin-left: 38%;
   display: flex;}
     
    
.navLi {margin-right: 12%;}


   .logo { margin-left: 80%;
    list-style-type: none;
  
  }
  .search-cont {position: relative;
  }

  .search-cont i { position:absolute;
    top: 45%;
    right: 15px;
    transform: translateY(-50%);
   cursor: pointer;}

  body {margin: 0;}
  
  .navButton {
    padding: 7px;
  border: 1px solid black;
  border-radius: 7px;
}
  
  .navLi:hover {cursor: pointer;
  }
  
  #home { padding: 150px 0 55px 0;
  display: flex;
  width: 100%;
  }
  .home-heading { font-size: 30px;
                  color: green;
                  font-family: 'Cinzel Decorative', cursive;
  }
  .home-text { font-family: 'Lugrasimo', cursive;}
  
  .homeButton {padding: 10px 20px;
  border: orangered 1px solid;
  color: orangered;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 25px;
}

  .homeButton:hover {background-color: orange;
                      border: 1px solid orange;
                      color: white;
  }
  
  .tagline {width: 100; 
  margin: 16% 10% 10% 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .homeFlower {width: 100%;
    overflow:auto;
  }

  section { background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);}


  .header {text-align: center;
    padding-top: 20px;
    color:orangered;

}

  .promo-container { float: left;
  width: 24.99%;
  margin: 2% 2% 1% 5%;
}

.column img {
  width: 100%;
  box-sizing: border-box;
}
.column p { text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 30px ;
}
.column button { padding: 5px 10px;
                border-radius: 30px;
                margin-bottom: 5%;
                border: 1px solid orangered;
                color: orangered;
                background-color: white;
                
              }
.column button:hover {cursor: pointer;
                      background-color: orange;
                      border: 1px solid orange;
                      color: white;
                    }

s {color: lightgray;}


.more {
  padding: 8px 15px;
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  }
#promo {
  background-color:#FFFAFA;
}
  #promo span{ display: block;
   text-align: center;
  padding-bottom: 20px;
  
  }

.occ-header{ 
            text-align: center;
            font-family: 'Cinzel Decorative', cursive;
            background-color:#F7DBD7;
            padding: 55px 0 5px 0;
}
#occ-container {
  background-color:#F7DBD7;
  overflow:auto;
  white-space:nowrap;
  padding: 30px 50px 100px 50px;
  margin-top: 0;
}

                          
.occ-slide{
  position:relative;
  width: 50%;
  max-width: 300px;
  display: inline-block;
  margin-right: 14%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  color: white;
  padding: 50px 100px;
  margin-bottom: 3px;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  font-family: 'Cinzel Decorative', cursive;
  cursor: pointer;
}

.occ-slide:hover .overlay {
  opacity: 1;
}

#Arrangement span{ display: block;
  text-align: center;
 padding-bottom: 20px;
}
 .header {font-family: 'Cinzel Decorative', cursive;
  margin-top: 0;
 }
 
.Footer{
  padding: 30px 0;
  background-color: #FEEFD3;
}
.container{
  max-width: 1170px;
  
  padding-top: 20px;
}
.row{display:flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgb(18, 18, 17);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  
}
.footer-col h4::before{
  content:'';
  position:absolute;
  left: 0;
  bottom:-10px;
  background-color: orangered;
  height: 2px;
  box-sizing: border-box;
  width:50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
}
.social-icons ul li a:hover{
  color: black;
  padding-top: 15px;
  
}
.social-icons .socials a:hover{
color: white;
}
.footer {
  text-align: left ;
}
#Arrangement {
  background-color: #FCF4E8;
  
}
.arranged-container { float: left;
  width: 24.99%;
  margin: 2% 2% 1% 5%;
}

.form-container{
  display: grid;
 place-items: center;
  background-color:#F2DAB6;
  padding: 40px 0;
}
#login-form {
   border: solid 1px white;
  background-color: white;
  margin: 0 40%;
  min-width: 40vh;
  padding: 20px 50px;
  
}
form h2 {margin-bottom: 50px;}


.input-box {
  padding: 5% 27%;
  border-radius: 6px ;
}
form button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 6px;
}
form button:hover {
  cursor: pointer;
}
a {text-decoration: none;}